.faceit-stats {
    width: 100%;
    display: inline-block;
    /* border: 1px solid white; */
    margin-top: 10px;
    padding: 5px 0px;
}

.faceit-logo {
    width: 25px;
    height: 25px;

}

.faceit-stats-header {
    /* font-size: 1.5em; */
    font-family: Play, sans-serif;
    font-weight: bold;
    letter-spacing: 0.0025em;
    text-transform: uppercase;
}

.faceit-username {
    float: left;
    width: 50%;
}

.faceit-elo {
    float: left;
    width: calc(50% - 17px);
    text-align: right;
    padding-right: 10px !important;
}

.faceit-level {
    float: right;
    width: 17px;

}

.faceit-level > img {
    width: 17px;
    height: 17px;
}

.faceit-stats-bottom-row > div {
    float: left;
    width: calc((100%/3));
}

.faceit-kd {
    text-align: left;
}

.faceit-hsp {
    text-align: center;
}

.faceit-winrate {
    text-align: right;
}
