.post {
    backdrop-filter: blur(20px);
    background-color: #27243042;
    display: inline-block;
    width: calc(100% - 2*5px);
    margin: 5px;
    border: 1px solid #e0e0e096;
    border-radius: 2px;
    padding: 10px 16px;
}

.post-title {
    margin: 0px;
    padding: 0px;
}

.views {
    width: 12.5%;
    display: inline-block;
}

.shares {
    width: 12.5%;
    display: inline-block;
}

.date {
    width: 75%;
    display: inline-block;
    text-align: right;
}