.content-column {
    /* height: 100%; */
    background-color: #00000033;
}

.geometry-dash-level {
    width: 100%;
    display: block;
}

.geometry-dash-level-name {
    float: left;
    width: calc(50% - 10px);
}

.geometry-dash-level-difficulty {
    float: right;
    width: 50%;
    text-align: right;
}

.element-factory {
    display: inline-block;
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
}

.difficulty-face {
    /* margin: auto; */
    width: 17px;
    height: 17px;
    /* float: left; */
    
}

.element-factory-title {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0px;
    padding: 5px 0px;
    border-bottom: 2px solid white;
}

.faceit-logo {
    width: 17px;
    height: 17px;

}

.faceit-stats-header {
    /* font-size: 1.5em; */
    font-family: Play, sans-serif;
    font-weight: bold;
    letter-spacing: 0.0025em;
    text-transform: uppercase;
}