.content-column {
    /* height: 100%; */
    background-color: #00000033;
}

/* .left {
    background-color: green;
    height: 500px;
}

.middle {
    background-color: blue;
    height: 100% !important;
}

.right {
    background-color: red;
} */
